<div id="createMessage" class="panel right">
    <h1>Create a Post</h1>
    <p>
    <form>
        <textarea name="text" class="postText"></textarea>
        <input type="submit" value="Post">
    </form>
    </p>
</div>
<div id="posts" class="panel left">
    <h1>Your MadGains Profile</h1>
    <div class="madGainsWrapper">
        <img class="avatar" src="<%= @user.avatar_url %>">
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        XX Messages
        <span class="spacing">XX Followers</span>
        <span class="spacing">XX Following</span>
        </p>
    </div>
</div>
<div class="panel left">
    <h1>Your Posts</h1>
    <div class="madGainsWrapper">
        Posts coming . . .
    </div>
</div>
